# Gradle
.gradle/
.gradle-userhome/
build/
**/build/
.gradle-local/
out/
classes/
logs/

# Local temp tooling
.tmp-gradle/
.tmp-settings-paper.gradle.kts

# Java
*.class
*.log
hs_err_pid*
replay_pid*

# IntelliJ
.idea/
*.iml
out/

# VS Code
.settings/
.vscode/
bin/
.classpath
.project

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# OS files
.DS_Store
Thumbs.db
desktop.ini
*.rar

# Runtime files
run/
logs/

# python
*.pyc
*.py

